{% extends 'regist/layout.html' %}
{% block body %}
<section class="vh-100" style="background-color: #c9bd5f;">
    <div class="container">
        <div class="py-3"></div>
        <div class="row card">
            <h1 style="text-align: center">My Subjects</h1>
            <div class="card-body">
                {% if message %}
                <div class="{{ message.message_tag }}" role="alert">
                    {{ message.message }}
                </div>
                {% endif %}
                {% if regists %}
                <table class="table table-hover" style="text-align: center;">
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Semester</th>
                        <th>Detail</th>
                    </tr>
                    {% for regist in regists %}
                    {% if regist.subject.status %}
                    <tr>
                        <td>{{ regist.subject.code }}</td>
                        <td>{{ regist.subject.name }}</td>
                        <td>{{ regist.subject.semester }}/{{ regist.subject.year }}</td>
                        <td><a class="btn btn-dark text-white" href="{% url 'regist:subject' regist.subject.id %}">Detail</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                {% else %}
                <div class="alert alert-danger" role="alert">
                    You have not registed yet.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}