{% extends 'regist/layout.html' %}
{% block body %}
{% if message %}
    <div>{{ message }}</div>
{% endif %}
<style>
    div.a {
      position:relative;
      left:478px
    }
        table, th, td {
            border: 1px solid black;
    }
    th, td {
        background-color: #fefbcb;  
        padding: 15px;
    }
    td {
        text-align: center;
        vertical-align: middle;
    }
    h3 {
        text-align: center;
    }
    </style>
{% if regists %}
<div class="a">
<h1>My Subjects</h1>
</div>
<table align = "center"
    width=50%; 
    table-layout="fixed">
    <tr align = "center">
      <th>Code</th>
      <th>Name</th>
      <th>Semester</th>
      <th>Detail</th>
    </tr>
    {% for regist in regists %}
    <tr>
        <td>{{ regist.subject.code }}</td>
        <td>{{ regist.subject.name }}</td>
        <td>{{ regist.subject.semester }}/{{ regist.subject.year }}</td>
        <td><a class="btn btn-dark text-white" href="{% url 'regist:subject' regist.subject.id %}">Detail</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h3> You are not enrolled. </h3>
{% endif %}
{% endblock %}