{% extends 'regist/layout.html' %}
{% block body %}

<h1>Subjects</h1>
Subject: {{ subject.code }} {{ subject.name }}
</br>
Semester: {{ subject.semester }}/{{ subject.year }}
</br>
Total quota: {{ count }}/{{ subject.max_cap }}
</br>
</br>
{% if registed %}
<a class="btn btn-dark text-white"href="{% url 'regist:mysubject' %}">Go back</a>
<a class="btn btn-danger" href="{% url 'regist:removesubject' subject.id %}">Remove</a>
{% else %}
<a class="btn btn-dark text-white"href="{% url 'regist:index' %}">Go back</a>
<a class="btn btn-success" href="{% url 'regist:register' subject.id %}">Regist</a>
{% endif %}

{% endblock %}