{% extends 'users/layout.html' %}
{% block body %}
<div class="vh-100 container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="card col-xl-4" style="border-radius: 1rem;">
            <div class="card-body text-black">
                <h1 style="text-align: center;">BookingReg</h1>
                <form action="{% url 'users:login' %}" method="POST">
                    {% csrf_token %}
                    {% if message %}
                    <div class="{{ message_tag }}" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                    <div class="form-outline">
                        <input type="text" name="username" class="form-control form-control-lg"/>
                        <label class="form-label" for="form2Example17" >Username</label>
                    </div>
                    <div class="form-outline">
                        <input type="password" name="password" class="form-control form-control-lg"/>
                        <label class="form-label" for="form2Example27">Password</label>
                    </div>
                    <input class="btn btn-dark btn-lg btn-block center" type="submit"></input>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}